<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link href="style.css" rel="../../stylesheets/et710" type="text/css" />
    <style>
      
    </style>
  </head>
  <body>
    <div id='wrapper'>
    <div id='whole'>
    <div id='masth'>
      <div id='masthh'>
      <img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='125px' height='81px' alt='dflag'/>
      </div><!--close mashh--> <h1 id='masthhh'>Denmark</h1>
      
    </div><!--close masth-->
    <div id='navi'>
      <ul>
        <li><a href="index.html">(1)Intro</a></li>
        <li><%= link_to "second page", "../two/two" %></li>
        <li><a href="a3people.html">(3)People</a></li>
        <li><a href="a4geo.html">(4)Geo.</a></li>
        <li><a href="a5values.html">(5)Values</a></li>
        <li><a href="a6demographics.html">(6)Demo.</a></li>
        <li><a href="a7trade.html">(7)Trade</a></li>
        <li><a href="a8sports.html">(8)Sports</a></li>
        <li><a href="a9food.html">(9)Food</a></li>
        <li><a href="a10sights.html">(10)Sights</a></li>
        <li><a href="a11neighbors.html">(11)Neighbors</a></li>
        <li><a href="a12eventfeed.html">(12)Event Feed</a></li>
      </ul>
    </div><!--close navi-->
    <div id="hm">
    <h2 id='heading'>Denmark</h2>
    <div id="mainc">

     <p>What is the country of Denmark and its  significance?  How much different or similar is it to other countries in the world?  You will learn a thing or two about Denmark.  Some fun information will come as a surprise while others might not. </p>
     <img src='intro.jfif' alt='worldmap1'/>


  
    
   
    
    </div><!--close mainc-->
    </div><!--close hm-->
    </div><!--close whole-->
    
    
    <div id='foot'>
    <div id="footr">
      <div id="footr1">
        <h5>ET 710 SP21<br><br>Prof. Lachter</h5>
        
      </div><!--close footr1-->
      <div id="footr2">
        <h5>James Wang<br><br>May 2021</h5>
        
      </div><!--close footr2-->
     
    </div><!--close footr-->
    </div><!--close foot-->


    </div><!--close wrapper-->
  
    
    <!--<script src="script.js"></script>-->
    
    
  </body>